html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: myFirstFont;
  src: url(GODOFWAR.TTF);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.left-bar{
  position: absolute;
  top: 50px;
  left: 50px;
}
.left-bar-item{
  font-family: myFirstFont;
  font-size: 24px;
  font-weight: 700;
  animation: fadein 2s;
  margin-top: 40px;
}


.right-bar{
  position: absolute;
  top: 50px;
  right: 50px;
  font-family: myFirstFont;
  color: white;
  animation: textOpacity 4s;
}
.main-scroller{
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  z-index: 900;
  position: absolute;
}

.first-headline{
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 700;
  animation: textAppear 2s;
}

.center-image{
  animation: textOpacity 4s;
}

.bottom-text{
  color:white;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.first-headline-2{
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 700;
  animation: textAppear 2s;
  animation-delay: 2s;
}

@keyframes fadein {
  from { opacity: 0; margin-top: 60px;}
  to   { opacity: 1; margin-top: 40px;}
}

@keyframes textAppear {
  from { margin-top: 100px}
  to   { margin-top: 15px}
}

@keyframes textOpacity {
  from { opacity: 0}
  to   { opacity: 1}
}


